{% extends "base.html.twig" %}

{% block content %}
    <section class="py-5 mt-5 fade-in">
        <div class="container" id="container">
            <div class="col mb-12 pb-3 text-center">
                <h1 class="main-text">BENNY'S BARBERING CO.</h1>
                <p class="heading-text">BARBERING DONE RIGHT.</p>
            </div>
            <div class="row">
                <div class="col mb-12">
                    <h2 class="main-text">ABOUT ME</h2>
                    <p class="p-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in</p>
                </div>
            </div>
{#            <script src="https://apps.elfsight.com/p/platform.js" defer></script>#}
{#            <div class="elfsight-app-22417e71-5716-4cb4-b8d9-32a21228c606"></div>#}
        </div>
    </section>
{% endblock %}


