{% extends "base.html.twig" %}

{% block content %}
    <header class="masthead" id="overlay" onload="hideFooter()">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-heavy main-text">BENNY'S BARBERING CO.</h1>
                    <p class="lead heading-text">BARBERING DONE RIGHT.</p>
                    <a class="btn btn-light btn-sm heading-text" href="/home">ENTER</a>
                </div>
            </div>
        </div>
    </header>
    <script lang="js">
        function hideFooter() {
            var footer = document.getElementById("footer");
            footer.remove()
        }
    </script>
{% endblock %}
