{% extends "base.html.twig" %}

{% block content %}
    <section class="py-5 mt-5 fade-in">
        <div class="container" id="container">
            <div class="col mb-12 pb-4 text-center">
                <h1 class="main-text">BENNY'S BARBERING CO.</h1>
                <p class="heading-text">BARBERING DONE RIGHT.</p>
                    <h2 class="main-text pt-3">PRODUCTS</h2>
            </div>
            <div class="row">
                <div class="col-12 mb-6 pb-4">
                    <div class="pull-right">
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ORDER BY
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Price (ASC)</a>
                                <a class="dropdown-item" href="#">Price (DESC)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-xs-12 col-sm-6 col-md-3 pb-5">
                    <div class="card rounded-corners-bottom rounded-corners-top">
                        <img class="card-img-top rounded-corners-top" src="https://cdn.shopify.com/s/files/1/0627/8837/products/slick_gorilla_powder-600x600_600x.png?v=1547322421" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="product-text">PRODUCT NAME</h5>
                            <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <span class="badge language-label mb-4 mr-2">£10.99</span>
                            <br>
                            <a class="btn btn-light btn-sm" style="width: 100%;" href="/home">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 pb-5">
                    <div class="card rounded-corners-bottom rounded-corners-top">
                        <img class="card-img-top rounded-corners-top" src="https://cdn.shopify.com/s/files/1/0627/8837/products/slick_gorilla_powder-600x600_600x.png?v=1547322421" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="product-text">PRODUCT NAME</h5>
                            <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <span class="badge language-label mb-4 mr-2">£10.99</span>
                            <br>
                            <a class="btn btn-light btn-sm" style="width: 100%;" href="/home">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 pb-5">
                    <div class="card rounded-corners-bottom rounded-corners-top">
                        <img class="card-img-top rounded-corners-top" src="https://cdn.shopify.com/s/files/1/0627/8837/products/slick_gorilla_powder-600x600_600x.png?v=1547322421" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="product-text">PRODUCT NAME</h5>
                            <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <span class="badge language-label mb-4 mr-2">£10.99</span>
                            <br>
                            <a class="btn btn-light btn-sm" style="width: 100%;" href="/home">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 pb-5">
                    <div class="card rounded-corners-bottom rounded-corners-top">
                        <img class="card-img-top rounded-corners-top" src="https://cdn.shopify.com/s/files/1/0627/8837/products/slick_gorilla_powder-600x600_600x.png?v=1547322421" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="product-text">PRODUCT NAME</h5>
                            <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <span class="badge language-label mb-4 mr-2">£10.99</span>
                            <br>
                            <a class="btn btn-light btn-sm" style="width: 100%;" href="/home">BUY</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-xs-12 col-sm-6 col-md-3 pb-5">
                    <div class="card rounded-corners-bottom rounded-corners-top">
                        <img class="card-img-top rounded-corners-top" src="https://cdn.shopify.com/s/files/1/0627/8837/products/slick_gorilla_powder-600x600_600x.png?v=1547322421" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="product-text">PRODUCT NAME</h5>
                            <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <span class="badge language-label mb-4 mr-2">£10.99</span>
                            <br>
                            <a class="btn btn-light btn-sm" style="width: 100%;" href="/home">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 pb-5">
                    <div class="card rounded-corners-bottom rounded-corners-top">
                        <img class="card-img-top rounded-corners-top" src="https://cdn.shopify.com/s/files/1/0627/8837/products/slick_gorilla_powder-600x600_600x.png?v=1547322421" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="product-text">PRODUCT NAME</h5>
                            <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <span class="badge language-label mb-4 mr-2">£10.99</span>
                            <br>
                            <a class="btn btn-light btn-sm" style="width: 100%;" href="/home">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 pb-5">
                    <div class="card rounded-corners-bottom rounded-corners-top">
                        <img class="card-img-top rounded-corners-top" src="https://cdn.shopify.com/s/files/1/0627/8837/products/slick_gorilla_powder-600x600_600x.png?v=1547322421" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="product-text">PRODUCT NAME</h5>
                            <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <span class="badge language-label mb-4 mr-2">£10.99</span>
                            <br>
                            <a class="btn btn-light btn-sm" style="width: 100%;" href="/home">BUY</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 pb-5">
                    <div class="card rounded-corners-bottom rounded-corners-top">
                        <img class="card-img-top rounded-corners-top" src="https://cdn.shopify.com/s/files/1/0627/8837/products/slick_gorilla_powder-600x600_600x.png?v=1547322421" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="product-text">PRODUCT NAME</h5>
                            <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <span class="badge language-label mb-4 mr-2">£10.99</span>
                            <br>
                            <a class="btn btn-light btn-sm" style="width: 100%;" href="/home">BUY</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
